.container-footer-form {
  @media (min-width: $desk) {
    width: 100%;
    text-align: left;

    margin-left: 93px;
  }
}
.footer-form {
  display: flex;
  flex-direction: column;
  @media (min-width: $desk) {
    display: flex;
    flex-direction: row;
  }
}

.footer-form-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.172;
  margin-bottom: 20px;
  color: $clr-white;

  @media (min-width: $desk) {
    text-align: left;
    margin-left: 0;
  }
}
.footer-input {
  width: 444px;
  height: 50px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
  background: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 20px;
  @media (min-width: $tablet) {
    margin-left: auto;
    margin-right: auto;
  }
  @media (min-width: $desk) {
    // display: inline-block;
    width: 340px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
}
.footer-input::placeholder {
  font-size: 16px;
  line-height: 20px;
}
.submit-footer {
  position: relative;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  padding: 10px 62px 10px 29px;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: $desk) {
    margin-left: 12px;
  }
}
.submit-footer:hover,
.submit-footer:focus {
  background-color: $clr-focus;
}
.button-ikon {
  position: absolute;
  top: 13px;
  padding-left: 10px;
  fill: $clr-white;
}
.footer-agreement {
  color: $clr-accent;
  text-decoration: underline $clr-accent;
}
.footer-form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
