footer {
  width: 100%;
  background: $bgr-footer;
}
.footer {
  text-align: center;
  @media screen and (min-width: $desk) {
    display: flex;
    flex-direction: row;
  }
  @media screen and (min-width: $desk) {
    display: flex;
  }
}
.box-adress {
  text-align: center;
  width: 100%;
  margin-bottom: 60px;
  @media screen and (min-width: $desk) {
    margin-bottom: 0;
    text-align: left;
    width: 231px !important;
  }
}
.icon-footer {
  width: 106px;
  height: 60px;
}

.adress-list {
  @media screen and (min-width: $desk) {
    width: 231px;
  }
}
.text-adress {
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  line-height: 1.72;
  color: $clr-white;
  padding-bottom: 9px;
  width: 231px;
}
.address-link {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
}
.address-link:hover {
  color: $clr-white;
}

footer .container {
  background: inherit;
  padding-top: 36px;
  padding-bottom: 60px;
  @media (min-width: $desk) {
    display: flex;
    align-items: baseline;
  }
}
.adress-list {
  font-style: normal;
}
.footer-ikons {
  width: 100%;
  margin-left: auto;
  text-align: center;
  margin-bottom: 60px;

  @media (min-width: $desk) {
    width: 206px;
    margin-left: 70px;
  }
}
.footer-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.172;
  margin-bottom: 20px;
  color: $clr-white;

  @media (min-width: $desk) {
    text-align: left;
  }
}
.footer-ikons .ikons {
  background: rgba(255, 255, 255, 0.1);
  fill: $clr-white;
}
.foter-ikons .ikons:hover {
  background: $clr-accent;
}
.footer-ikons .ikons-list {
  padding: 0;
}
.adress-list {
  font-style: normal;
}

.footer-ikons .ikons {
  background: rgba(255, 255, 255, 0.1);
  fill: $clr-white;
}
.footer-ikons .ikons:hover {
  background: $clr-accent;
}
.footer-ikons .ikons-list {
  padding: 0;
}
