.header {
  background: $clr-white;
}
.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.portfolio-heder__bord {
  border-bottom: 1px solid #ececec;
}
.mobile-button {
  border: none;
  outline: none;
  background-color: $clr-white;
  cursor: pointer;
  padding: 22px 0;
  text-align: right;
  margin-right: 0;
  @media screen and (min-width: $tablet) {
    display: none;
  }
}
