.hero-box {
  max-width: 1600px;
  padding: 200px 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  background-repeat: no-repeat;
  background-position: center;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .box {
      background-image: linear-gradient(
          to bottom,
          rgba(58, 50, 47, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../../images-2/hero-phone.jpg);
    }
  }
  @media (min-device-pixel-ratio: 2) and (min-width: 738px),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .box {
      background-image: linear-gradient(
          to bottom,
          rgba(58, 50, 47, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../../images-2/hero-tablet.jpg);
    }
  }
  @media (min-device-pixel-ratio: 2) and (min-width: 1170px),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .box {
      background-image: linear-gradient(
          to bottom,
          rgba(58, 50, 47, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../../images-2/hero.jpg);
    }
  }
}

.hero-title {
  font-family: Roboto;
  font-size: 44px;
  line-height: 1.364;
  color: var(--color-white);

  margin-bottom: 30px;
}
.hero-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  padding: 10px 32px;
}
.hero-button:hover,
.hero-button:focus {
  background: var(--color-focus);
}
