.mail-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.172;
  color: var(--color-text);
  display: flex;
  align-items: center;
  margin-left: auto;
}
.mail-list .mail-item + .mail-item {
  padding-left: 50px;
}
.mail-item:hover {
  color: var(--color-accent);
  fill: var(--color-accent);
}
.mail-item {
  display: flex;
  align-items: center;
}
.mail-item a {
  margin-left: 10px;
  fill: var(--color-text);
}
