.nav {
  display: none;
  @media screen and (min-width: $tablet) {
    margin-left: 88px;
    display: flex;
  }
}
.nav-list {
  @media screen and (min-width: $tablet) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.172;
    display: flex;
  }
}

.nav-list .nav-item + .nav-item {
  margin-left: 50px;
}
.nav-list a:hover,
.nav-list a:focus {
  color: $clr-accent;
}
.nav-list .nav-item .current {
  color: $clr-accent;
}
.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  background-color: $clr-accent;
}
