.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.174;
  color: var(--color-accent);
  padding-top: 24px;
  padding-bottom: 25px;
  display: block;
}
.logo-header {
  color: var(--color-title);
}

.logo-footer {
  color: var(--color-white);
}
