:root {
  --color-accent: rgba(33, 150, 243, 1);
  --color-focus: rgba(24, 140, 232, 1);
  --color-title: rgba(33, 33, 33, 1);
  --color-text: rgba(117, 117, 117, 1);
  --color-white: #ffffff;
  --background-footer: rgba(47, 48, 58, 1);
  --background-section-1: #e5e5e5;
  --background-section-2: #f5f4fa;
  --background-care-icons: rgba(245, 244, 250, 1);
  --fill-icons: rgba(175, 177, 184, 1);
}
